<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/mobile/contact.css" />
</head>
<body>
{include file="layout/header"/}
<div class="contact-box">
    <div class="contact-item">
        <img src="__IMAGE__/6.png" alt="" class="contact-img">
        <p class="contact-p">微信联系</p>
    </div>
    <div class="contact-item">
        <img src="__IMAGE__/7.png" alt="" class="contact-img">
        <p class="contact-p">电话联系</p>
    </div>
</div>
</body>
</html>