<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head" /}
    <link rel="stylesheet" href="__CSS__/mobile/private.css" />
</head>
<body>
    {include file="layout/header" /}

    <div class="private-head">
        <img src="__IMAGE__/alt.jpg" alt="" class="primary-img">
    </div>
    <div class="private-box">
        <div class="private-item">
            <p class="primary-title">客服联系</p>
            <span class="sub-primary-title">（填写资讯单）</span>
        </div>
        <div class="private-item">
            <p class="primary-item-p">出发地</p>
            <input type="text" placeholder="成都" class="private-input">
        </div>
        <div class="private-item">
            <p class="primary-item-p">目的地</p>
            <input type="text" placeholder="乌鲁木齐" class="private-input">
        </div>
        <div class="private-item">
            <p class="primary-item-p">出发日期</p>
            <input type="text" placeholder="2018-05-20" class="private-input">
        </div>
        <div class="private-item">
            <p class="primary-item-p">联系人</p>
            <input type="text" placeholder="联系人姓名" class="private-input">
        </div>
        <div class="private-item">
            <p class="primary-item-p">联系电话</p>
            <input type="text" placeholder="联系人电话" class="private-input">
        </div>
    </div>
    <div class="remark-box">
        <p class="remark-p">备注</p>
        <textarea type="text" placeholder="备注旅行" style="overflow: hidden" class="private-textarea"></textarea>
        <button class="submit-btn">提交需求</button>
    </div>
</body>
</html>