<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/mobile/detailTourist.css" />
    <style>

    </style>
</head>
<body>
{include file="layout/header"/}

<div class="detail-head">
    <div class="head-top-box">
        <img src="__IMAGE__/alt.jpg" alt="" class="detail-img">
        <div class="date-box">
            <p class="date-left"></p>
            <p class="date-right">已预约：100人</p>
        </div>
    </div>
    <div class="detail-desc-box">
        <p class="detail-desc-title">乌鲁木齐三日游</p>
        <div class="detail-desc-price">
            <p class="detail-desc-left">
                <span class="price-span">￥2564</span>
                <span class="price-desc">元起/成人（3450.00元起/儿童）</span>
            </p>
            <p class="detail-desc-right">
                <span class="day-span">天数：6天</span>
            </p>
        </div>
        <div class="site-desc">
            <p class="site-name">集合地点：乌鲁木齐</p>
            <p class="date-p">日程时间：2018-05-04-2018-08-12</p>
        </div>
    </div>
</div>
<div class="site-box">
    <div class="introduce-tab-box">
        <p class="introduce-tab-p active">行程介绍</p>
        <p class="introduce-tab-p">费用说明</p>
    </div>
    <div class="introduce-content-box">
        <div class="introduce-content hideCon showCon">
            <div class="route-box">
                <img src="__IMAGE__/mobile-route.jpg" alt="" class="route-img">
            </div>
        </div>
        <div class="introduce-content hideCon">费用说明</div>
    </div>
</div>
<button class="chartered-btn">预约</button>
<script>

    $(".introduce-tab-p").click(function () {
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $(".introduce-content").eq(index).addClass('showCon').siblings().removeClass('showCon')
    });
    $(".chartered-btn").click(function () {

        location.href = "{:url('Customize/reserve')}";

    })
</script>
</body>
</html>