<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head" /}
    <link rel="stylesheet" href="__CSS__/mobile/reserve.css" />
</head>
<body>
{include file="layout/header" /}

<div class="reserve-head">
    <img src="__IMAGE__/alt.jpg" alt="" class="reserve-img">
</div>
<div class="reserve-content">
    <div class="reserve-item">
        <p class="reserve-title">出游基本信息</p>
        <p class="sub-reserve-title">（填写咨询单）</p>
    </div>
    <div class="reserve-item people-item">
        <p class="reserve-p">出发人数</p>
        <input type="text" placeholder="3成人" class="adult-input">
        <p class="reserve-p child-p">儿童</p>
        <input type="text" placeholder="0-12周岁" class="child-input">
    </div>
    <div class="reserve-item">
        <p class="reserve-p">出发城市</p>
        <input type="text" placeholder="成都" class="reserve-input">
    </div>
    <div class="reserve-item">
        <p class="reserve-p">出发日期</p>
        <input type="text" placeholder="2018-05-20" class="reserve-input">
    </div>
    <div class="reserve-item">
        <p class="reserve-p">联系人姓名</p>
        <input type="text" placeholder="联系人姓名" class="reserve-input">
    </div>
    <div class="reserve-item">
        <p class="reserve-p">联系人电话</p>
        <input type="text" placeholder="联系人电话" class="reserve-input">
    </div>
    <button class="submit-btn">提交</button>
</div>
</body>
</html>