<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/pc/commonweal.css" />
    <style>
        .common-weal-head{
            background-image: url("__IMAGE__/header/commonweal.jpg");
            background-position: top!important;
        }
    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="commonweal-box">
    <div class="common-weal-head allhead-img"></div>
    <div class="common-weal-content">
        {volist name="commonweals" id="c"}
        <a href="{:url('Commonweal/detail')}?id={$c.id}">
        <div class="common-weal-item">
            <img src="__IMAGE__/{$c.image}" alt="" class="item-img">
            <div class="item-desc">
                <p class="item-title">{$c.title}</p>
                <div class="desc-box">
                    <p class="item-content">{$c.desc}</p>
                </div>
            </div>
        </div>
        </a>
        {/volist}
        <div class="page-box">
            <p class="pre-p">
                <i class="page-icon"></i>
            </p>
            <p class="page-p">
                <span class="page-span active">1</span>
                <span class="page-span">2</span>
                <span class="page-span">3</span>
                <span class="page-span">4</span>
                <span class="page-span">5</span>
            </p>
            <p class="next-p">
                <i class="page-icon"></i>
            </p>
        </div>
    </div>
</div>

{include file="pclayout/footer" /}
</body>
</html>