<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/pc/customize.css" />
    <style>
        .customize-head{
            background-image: url("__IMAGE__/pc/mthumb.jpg");
        }
    </style>
</head>
<body>
{include file="pclayout/header"}
<div class="customize-head allhead-img"></div>
<div class="customize-content">
    <div class="customize-process-box">
        <div class="customize-process-item">
            <div class="customize-img-box consult">
                <img src="__IMAGE__/pc/consult.png" alt="" class="process-img">
                <div class="point-box">
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                </div>
            </div>
            <div class="customize-desc">
                <p class="customize-desc-title">免费咨询</p>
                <p class="customize-desc-p">我们有属于自己专业的旅游服务团队不断的为用户提供更多更快捷实用的功能与服务</p>
            </div>
        </div>
        <div class="customize-process-item">
            <div class="customize-img-box consult-1">
                <div class="point-box">
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                </div>
                <img src="__IMAGE__/pc/consult_1.png" alt="" class="process-img">
                <div class="point-box">
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                </div>
            </div>
            <div class="customize-desc consult-1-desc">
                <p class="customize-desc-title">沟通行程</p>
                <p class="customize-desc-p">我们有属于自己专业的旅游服务团队不断的为用户提供更多更快捷实用的功能与服务</p>
            </div>
        </div>
        <div class="customize-process-item">
            <div class="customize-img-box consult-2">
                <div class="point-box">
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                    <i class="point-icon"></i>
                </div>
                <img src="__IMAGE__/pc/consult_2.png" alt="" class="process-img consult2-img">
            </div>
            <div class="customize-desc consult-2-desc">
                <p class="customize-desc-title">预定落实</p>
                <p class="customize-desc-p">我们有属于自己专业的旅游服务团队不断的为用户提供更多更快捷实用的功能与服务</p>
            </div>
        </div>
    </div>
    <div class="provide-box">
        <p class="provide-title">提供需求</p>
        <p class="provide-subtitle">说出你的需求，谈谈你的旅行</p>
        <div class="form-box">
            <div class="form-item">
                <input id="demand-name" type="text" class="form-input name-input" placeholder="姓名">
                <input id="demand-dest" type="text" class="form-input site-input" placeholder="目的地">
                <input id="demand-departure-time" type="text" class="form-input day-input" placeholder="出发时间">
            </div>
            <div class="form-item">
                <input id="demand-phone" type="text" class="form-input phone-input" placeholder="电话号码">
            </div>
            <div class="form-item">
                <textarea id="demand-remarks" name="" class="form-input textarea-input" placeholder="需求描述" style="overflow: hidden"></textarea>
            </div>
            <div class="form-item">
                <button id="demand-submit" class="submit-btn">提交</button>
            </div>
        </div>
    </div>
</div>

{include file="pclayout/footer" /}
<script>
    $(document).ready(function () {
        layui.use('layer');

        $('#demand-submit').click(function () {
            var name = $('#demand-name').val();
            var dest = $('#demand-dest').val();
            var departure_time = $('#demand-departure-time').val();
            var phone = $('#demand-phone').val();
            var remarks = $('#demand-remarks').val();
            if (name == "" ||
                dest == "" ||
                departure_time == "" ||
                phone == "" ||
                remarks == "") {
                layui.layer.msg('请填完后再提交哦~', {icon: 2});
                return;
            }

            $('#demand-submit').attr('disabled', 'disabled');

            $.ajax({
                type: 'POST',
                data: {
                    name: name,
                    dest: dest,
                    departure_time: departure_time,
                    phone: phone,
                    remarks: remarks
                },
                url: '{:url("Customize/submit")}',
                success: function (data) {
                    if (data.code != 0) {
                        layui.layer.msg(data.msg, {icon: 2});
                        $('#demand-submit').removeAttr('disabled');
                    } else {
                        layui.layer.msg(data.msg, {
                            icon: 1
                            ,time: 1500
                        }, function() {
                            window.location.reload();
                        });
                    }
                },
                error: function () {
                    layui.layer.msg('无法连接服务器！', {icon: 5});
                    $('#demand-submit').removeAttr('disabled');
                }
            });
        });
    });
</script>
</body>
</html>