<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/pc/detailTourist.css" />
    <style>
        .detail-head{
            background-image: url("__IMAGE__/pc/horse.jpg");
        }
        .submit-head-img{
            background-image: url("__IMAGE__/pc/common.jpg");
        }
    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="detail-box">
    <div class="detail-head allhead-img"></div>
    <div class="detail-content-box">
        <div class="detail-desc">
            <div class="detai-img-box">
                <img src="__IMAGE__/pc/horse.jpg" alt="" class="detail-img">
                <div class="detail-subimg">

                </div>
            </div>
            <div class="desc-box">
                <div class="tag-box">
                    <img src="__IMAGE__/pc/tag.jpg" alt="" class="tag-img">
                    <p class="tag-p">8日游</p>
                </div>
                <div class="desc-head">
                    <p class="detail-title">喀纳斯环线游</p>
                    <p class="detail-subtitle">吐鲁番-乌鲁木齐-石河子-喀纳斯8日游</p>
                    <p class="price-p">
                        <span>￥</span>
                        <span class="price-span">2564</span>
                        <span class="price-desc">元起/成人（3450.00元起/儿童）</span>
                    </p>
                </div>
                <div class="site-date-box">
                    <p class="site-box">
                        <span class="site-span">集合地点</span>
                        <span class="site-name">乌鲁木齐</span>
                    </p>
                    <p class="date-p">
                        <span class="date-span">日程时间</span>
                        <span class="date-con">2018-05-04-2015-08-12</span>
                    </p>
                </div>
                <button class="bespoke-btn">立即预定</button>
            </div>
        </div>
        <div class="introduce-box">
            <div class="introduce-tab">
                <p class="introduce-item active">
                    <span class="introduce-item-span">行程介绍</span>
                    <span class="line-span"></span>
                </p>
                <p class="introduce-item">
                    <span class="introduce-item-span">费用说明</span>
                    <span class="line-span"></span>
                </p>
            </div>
            <div class="introduce-content-box">
                <div class="introduce-con hideCon showCon">
                    <div class="introduce-desc-box">
                        <img src="__IMAGE__/pc/route1.jpg" alt="" class="introduce-img">
                    </div>
                </div>
                <div class="introduce-con hideCon">费用说明</div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
    <div class="submit-box">
        <div class="submit-head-img allhead-img">
            <a href="javascript:;" class="close-a">×</a>
        </div>
        <div class="submit-footer">
            <div class="submit-form-box">
                <p class="form-title">开启定制旅行</p>
                <p class="form-subtitle">你只需决定出发，其他的交给骆驼带路</p>
                <div class="form-item">
                    <p class="item-p">姓名：</p>
                    <input type="text" class="item-input">
                </div>
                <div class="form-item">
                    <p class="item-p">手机：</p>
                    <input type="text" class="item-input">
                </div>
                <div class="form-item">
                    <p class="item-p">备注：</p>
                    <textarea class="item-textarea" style="overflow: hidden;"></textarea>
                </div>
                <div class="form-item">
                    <button class="button submit-btn">提交</button>
                </div>
            </div>
            <div class="wechat-box">
                <img src="__IMAGE__/pc/qrcode.png" alt="" class="wechat-img">
                <p class="wechat-p">
                    扫码关注
                    <span class="wechat-span">骆驼带路</span>
                    微信公众号
                </p>
            </div>
        </div>
    </div>
</div>

{include file="pclayout/footer" /}
<script>
    $(".introduce-item").click(function () {
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $(".introduce-con").eq(index).addClass('showCon').siblings().removeClass('showCon');
    });
    $(".bespoke-btn").click(showIn);
    $(".mask").click(showOut);
    $(".close-a").click(showOut);
    function showIn() {
        $(".submit-box").show();
        $(".mask").fadeIn();
    }
    function showOut() {
        $(".submit-box").fadeOut();
        $(".mask").fadeOut();
    }
</script>
</body>
</html>