<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head" /}
    <link rel="stylesheet" href="__CSS__/pc/detailTouristMall.css" />
    <style>
        .detail-head{
            background-image: url("__IMAGE__/pc/dtourist.jpg");
        }
    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="detail-box">
    <div class="detail-head allhead-img"></div>
    <div class="detail-content">
        <div class="select-box">
            <p class="select-p">当前选择:</p>
            <div class="select-btn-box">
                <p class="close-p">
                    <i class="close-icon"></i>
                </p>
                <p>精选旅行</p>
            </div>
        </div>
        <div class="site-box">
            <p class="site-p">目的地：</p>
            <div class="site-list">
                <p class="site-item active">乌鲁木齐</p>
                <p class="site-item">乌鲁木齐</p>
                <p class="site-item">乌鲁木齐</p>
            </div>
        </div>
        <div class="sort-box">
            <div class="sort-item comprehensive-box active">
                <p class="comprehensive">综合排序</p>
                <img src="__IMAGE__/pc/arrow.png" alt="" class="arrow-img hideCon showCon">
            </div>
            <div class="sort-item price-item">
                <p class="comprehensive">价格</p>
                <img src="__IMAGE__/pc/arrow.png" alt="" class="arrow-img hideCon">
            </div>
            <div class="sort-item sold-item">
                <p class="comprehensive">销量</p>
                <img src="__IMAGE__/pc/arrow.png" alt="" class="arrow-img hideCon">
            </div>
            <div class="sort-price-box">
                <input type="text" placeholder="￥" class="price-input">
                <span>-</span>
                <input type="text" placeholder="￥" class="price-input">
            </div>
        </div>
        <div class="result-box">
            <div class="result-list">
                {volist name="tourist" id="t"}
                <div class="result-item">
                    <img src="__IMAGE__/{$t.image_1}" alt="" class="result-img">
                    <div class="result-desc">
                        <p class="result-desc-top">
                            <span class="result-desc-left"> < {$t.name} > </span>
                            <span class="result-desc-right">{$t.desc}</span>
                        </p>
                        <p class="result-desc-footer">
                            <span class="date-span">{$t.departure}：{$t.duration}天</span>
                            <!--<span class="sold-span">已售：100</span>-->
                            <span class="price-span">
                                <em class="price-em">￥{$t.adult_price}</em>
                                <!--<em class="text-em">起</em>-->
                            </span>
                        </p>
                    </div>
                </div>
                {/volist}
            </div>
            {$tourist->render()}
        </div>
    </div>
</div>

{include file="pclayout/footer" /}
<script>
    $(".sort-item").click(function () {
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $(this).siblings().children('img').removeClass('showCon');
        $(this).children('img').addClass('showCon');
    });
</script>
</body>
</html>