<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    <link rel="stylesheet" href="__CSS__/pc/detailcommonweal.css">
    {include file="layout/head"/}
    <style>
        .detail-head{
            background-image: url("__IMAGE__/{$commonweal.image}");
        }
    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="detail-box">
    <div class="detail-head allhead-img"></div>
    <div class="detail-content">
        <p class="detail-title">{$commonweal.title}</p>
        <p class="detail-desc">{$commonweal.content}</p>
    </div>
</div>

{include file="pclayout/footer" /}
</body>
</html>