<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/pc/productMall.css" />
    <style>
        .product-head{
            background-image: url("__IMAGE__/pc/product.jpg");
        }
    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="product-box">
    <div class="product-head allhead-img"></div>
    <div class="product-content">
        <p class="product-title">新疆干果</p>
        <div class="product-list">
            <div class="product-item" onclick="detailProduct()">
                <img src="__IMAGE__/pc/product.jpg" alt="" class="product-item-img">
                <div class="item-desc">
                    <p class="item-desc-p">新疆特产是基于新疆独特的地理环境和人文环境而产生</p>
                    <p class="price-p">
                        <span class="sold-span">销量：22</span>
                        <span class="price-span">￥：19.80</span>
                    </p>
                </div>
            </div>
            <div class="product-item">
                <img src="__IMAGE__/pc/product.jpg" alt="" class="product-item-img">
                <div class="item-desc">
                    <p class="item-desc-p">新疆特产是基于新疆独特的地理环境和人文环境而产生</p>
                    <p class="price-p">
                        <span class="sold-span">销量：22</span>
                        <span class="price-span">￥：19.80</span>
                    </p>
                </div>
            </div>
            <div class="product-item">
                <img src="__IMAGE__/pc/product.jpg" alt="" class="product-item-img">
                <div class="item-desc">
                    <p class="item-desc-p">新疆特产是基于新疆独特的地理环境和人文环境而产生</p>
                    <p class="price-p">
                        <span class="sold-span">销量：22</span>
                        <span class="price-span">￥：19.80</span>
                    </p>
                </div>
            </div>
            <div class="product-item">
                <img src="__IMAGE__/pc/product.jpg" alt="" class="product-item-img">
                <div class="item-desc">
                    <p class="item-desc-p">新疆特产是基于新疆独特的地理环境和人文环境而产生</p>
                    <p class="price-p">
                        <span class="sold-span">销量：22</span>
                        <span class="price-span">￥：19.80</span>
                    </p>
                </div>
            </div>
            <div class="product-item">
                <img src="__IMAGE__/pc/product.jpg" alt="" class="product-item-img">
                <div class="item-desc">
                    <p class="item-desc-title">标题</p>
                    <p class="item-desc-p">新疆特产是基于新疆独特的地理环境和人文环境而产生</p>
                    <p class="price-p">
                        <span class="sold-span">销量：22</span>
                        <span class="price-span">￥：19.80</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="page-box">
            <button class="button pre-btn">上一页</button>
            <span class="page-span">1</span>
            <button class="button next-btn">下一页</button>
        </div>
    </div>
</div>
{include file="pclayout/return" /}
{include file="pclayout/footer" /}
<script>
    var back_btn = $(".return-box");
    var url = window.location.href;
    if (url == "http://localhost:8088/CamelRoad/public/index/customize/productmall.html"){
        $("#bazaMall").css('color','#e3435a')
    }else {
        console.log(url)
    }
    back_btn.on('click',function () {
        $('html,body').animate({
            scrollTop: 0
        },800)
    });
    $(window).on('scroll',function () {
        if($(window).scrollTop() > $(window).height()){
            back_btn.fadeIn();
        } else {
            back_btn.fadeOut();
        }

    });
    $(window).trigger('scroll');//触发选中的事件
    function detailProduct() {
        location.href = "{:url('Customize/detailProduct')}";
    }
</script>
</body>
</html>