<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/pc/touristMall.css" />
    <style>
        .tourist-head{
            background-image: url("__IMAGE__/pc/hm.jpg");
        }

    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="tourist-box">
    <div class="tourist-head allhead-img"></div>
    <div class="tourist-content">
        <p class="selected-p">精选旅行</p>
        <div class="selected-list">
            {volist name="tourist1" id="t"}
            <a href="{:url('Tourist/detail')}?id={$t.id}">
            <div class="selected-item">
                <img src="__IMAGE__/{$t.image_1}" alt="" class="selected-img">
                <div class="selected-desc">
                    <p class="selected-desc-top">
                        <span class="selected-desc-left"> < {$t.name} > </span>
                        <span class="selected-desc-right">{$t.desc}</span>
                    </p>
                    <p class="selected-desc-footer">
                        <span class="date-span">{$t.departure}：{$t.duration}天</span>
                        <!--<span class="sold-span">已售：100</span>-->
                        <span class="price-span">
                            <em class="price-em">￥{$t.adult_price}</em>
                            <!--<em class="text-em">起</em>-->
                        </span>
                    </p>
                </div>
            </div>
            </a>
            {/volist}
        </div>
        <div class="more-box">
            <a href="{:url('Tourist/index')}"><button class="more-btn">查看更多旅行</button></a>
        </div>
        <div class="recommend-box">
            <p class="recommend-title">主题推荐</p>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {volist name="tourist2" id="t" mod="3"}
                    {eq name="mod" value="0"}<div class="swiper-slide">{/eq}
                        <a href="{:url('Tourist/detail')}?id={$t.id}">
                            <div class="swiper-slide-img-box">
                                <img src="__IMAGE__/{$t.image_1}" alt="" class="swiper-slide-img">
                                <p class="swiper-slide-p">{$t.desc}</p>
                            </div>
                        </a>
                    {eq name="mod" value="2"}</div>{/eq}
                    {/volist}
                </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
        </div>
        <div class="chartered-box">
            <p class="chartered-title">包车自由行</p>
            <div class="chartered-list">
                {volist name="tourist3" id="t"}
                <a href="{:url('Tourist/detail')}?{$t.id}">
                <div class="chartered-item">
                    <img src="__IMAGE__/{$t.image_1}" alt="" class="chartered-img">
                    <div class="chartered-desc">
                        <p class="chartered-desc-top">
                            <span class="selected-desc-left"> < {$t.name} > </span>
                            <span class="selected-desc-right">{$t.desc}</span>
                        </p>
                        <p class="chartered-desc-footer">
                            <span class="date-span">{$t.departure}：{$t.duration}天</span>
                            <!--<span class="sold-span">已售：100</span>-->
                            <span class="price-span">
                                <em class="price-em">￥{$t.adult_price}</em>
                                <!--<em class="text-em">起</em>-->
                            </span>
                        </p>
                    </div>
                </div>
                </a>
                {/volist}
            </div>
        </div>
    </div>
</div>
<script>
    var mySwiper = new Swiper('.swiper-container',{
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        speed:300
    });
</script>
{include file="pclayout/footer" /}
</body>
</html>