<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>骆驼带路</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    {include file="layout/head"/}
    <link rel="stylesheet" href="__CSS__/pc/touristMall.css" />
    <style>
        .tourist-head{
            background-image: url("__IMAGE__/pc/hm.jpg");
        }
    </style>
</head>
<body>
{include file="pclayout/header" /}
<div class="tourist-box">
    <div class="tourist-head allhead-img"></div>
    <div class="tourist-content">
        <p class="selected-p">精选旅行</p>
        <div class="selected-list">
            {for start="0" end="6"}
            <a href="{:url('Tourist/detail')}">
            <div class="selected-item">
                <img src="__IMAGE__/pc/bhb.jpg" alt="" class="selected-img">
                <div class="selected-desc">
                    <p class="selected-desc-top">
                        <span class="selected-desc-left"> < 喀纳斯伊犁草原大环线 > </span>
                        <span class="selected-desc-right">纯玩深度喀纳斯湖+伊犁草原品质6日游。</span>
                    </p>
                    <p class="selected-desc-footer">
                        <span class="date-span">阿勒泰：6天</span>
                        <span class="sold-span">已售：100</span>
                        <span class="price-span">
                            <em class="price-em">￥2268</em>
                            <em class="text-em">起</em>
                        </span>
                    </p>
                </div>
            </div>
            </a>
            {/for}
        </div>
        <div class="more-box">
            <a href="{:url('Tourist/category')}"><button class="more-btn">查看更多旅行</button></a>
        </div>
        <div class="recommend-box">
            <p class="recommend-title">主题推荐</p>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        {for start="0" end="3"}
                        <a href="{:url('Tourist/detail')}">
                        <div class="swiper-slide-img-box">
                            <img src="__IMAGE__/kzls.jpg" alt="" class="swiper-slide-img">
                            <p class="swiper-slide-p">新疆探险旅游，自驾旅游等特色旅游线路，大美新疆，一生不可错过的旅行!</p>
                        </div>
                        </a>
                        {/for}
                    </div>
                    <div class="swiper-slide">
                        {for start="0" end="3"}
                        <a href="{:url('Tourist/detail')}">
                            <div class="swiper-slide-img-box">
                                <img src="__IMAGE__/kzls.jpg" alt="" class="swiper-slide-img">
                                <p class="swiper-slide-p">新疆探险旅游，自驾旅游等特色旅游线路，大美新疆，一生不可错过的旅行!</p>
                            </div>
                        </a>
                        {/for}
                    </div>
                </div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>
        </div>
        <div class="chartered-box">
            <p class="chartered-title">包车自由行</p>
            <div class="chartered-list">
                {for start="0" end="3"}
                <a href="{:url('Tourist/detail')}">
                <div class="chartered-item">
                    <img src="__IMAGE__/pc/bhb.jpg" alt="" class="chartered-img">
                    <div class="chartered-desc">
                        <p class="chartered-desc-top">
                            <span class="chartered-desc-left"> < 包车自由行 > </span>
                            <span class="chartered-desc-right">环天山360度无死角，包车自由行，独家推荐。</span>
                        </p>
                        <p class="chartered-desc-footer">
                            <span class="date-span">阿勒泰：6天</span>
                            <span class="sold-span">已售：100</span>
                            <span class="price-span">
                            <em class="price-em">￥2268</em>
                            <em class="text-em">起</em>
                        </span>
                        </p>
                    </div>
                </div>
                </a>
                {/for}
            </div>
        </div>
    </div>
</div>
{include file="pclayout/return" /}
{include file="pclayout/footer" /}
<script>
    var mySwiper = new Swiper('.swiper-container',{
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        speed:300
    });
    var back_btn = $(".return-box");
    back_btn.on('click',function () {
        $('html,body').animate({
            scrollTop: 0
        },800)
    });
    $(window).on('scroll',function () {
        if($(window).scrollTop() > $(window).height()){
            back_btn.fadeIn();
        } else {
            back_btn.fadeOut();
        }

    });
    $(window).trigger('scroll');//触发选中的事件
</script>
</body>
</html>