<link rel="stylesheet" href="__CSS__/pc/footer.css">
<footer class="footer-box">
    <div class="footer-content">
        <div class="footer-left">
            <div class="footer-item">
                <p class="footer-item-title">
                    <a href="#">关于我们</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">团队</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">联系我们</a>
                </p>
            </div>
            <div class="footer-item">
                <p class="footer-item-title">
                    <a href="#">实用信息</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">客户评价</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">旅游攻略</a>
                </p>
            </div>
            <div class="footer-item">
                <p class="footer-item-title">
                    <a href="#">网络条款</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">用户协议</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">隐私声明</a>
                </p>
            </div>
            <div class="footer-item">
                <p class="footer-item-title">
                    <a href="#">关注我们</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">微信公众号</a>
                </p>
                <p class="footer-item-subcon">
                    <a href="#">新浪微博</a>
                </p>
            </div>
        </div>
        <div class="footer-right">
            <img src="__IMAGE__/pc/qrcode.png" alt="" class="footer-right-img">
            <p class="footer-right-subtitle">微信联系旅游顾问</p>
        </div>
    </div>
</footer>

{include file="pclayout/return" /}