<link rel="stylesheet" href="__CSS__/pc/header.css">
<link rel="shortcut icon" href="__IMAGE__/pc/camel.png" type="image/icon">
<div class="header-box">
    <div class="header-content">
        <img src="__IMAGE__/pc/logo.png" alt="" class="header-img">
        <div class="header-tab-box">
            <ul>
                <li class="tab-item">
                    <a href="{:url('Index/index')}" class="tab-item-a<?php if(isset($isIndex)) { ?> active<?php } ?>" id="home">主页</a>
                </li>
                <li class="tab-item">
                    <a href="{:url('Customize/index')}" class="tab-item-a<?php if(isset($isCustomize)) { ?> active<?php } ?>" id="customize">定制旅行</a>
                </li>
                <li class="tab-item">
                    <a href="{:url('Commonweal/index')}" class="tab-item-a<?php if(isset($isCommonweal)) { ?> active<?php } ?>" id="commonweal">公益活动</a>
                </li>
                <li class="tab-item">
                    <a href="javascript:void(0)" class="tab-item-a<?php if(isset($isMall)) { ?> active<?php } ?>" id="bazaMall">巴扎商城</a>
                    <dl class="mall-dl">
                        <dd class="triangle"></dd>
                        <dd class="tab-item-dd">
                            <a href="{:url('Tourist/landing')}" class="dd-a">旅游商城</a>
                        </dd>
                        <dd class="tab-item-dd">
                            <a href="{:url('Product/index')}" class="dd-a">特产商城</a>
                        </dd>
                    </dl>
                </li>
                <li class="tab-item">
                    <a href="javascript:void(0)" class="tab-item-a<?php if(isset($isAbout)) { ?> active<?php } ?>" id="aboutus">关于我们</a>
                    <dl class="about-dl">
                        <dd class="triangle"></dd>
                        <dd class="tab-item-dd">
                            <a href="{:url('About/index')}" class="dd-a">关于我们</a>
                        </dd>
                        <dd class="tab-item-dd">
                            <a href="{:url('About/join')}" class="dd-a">加入我们</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(".tab-item").hover(function () {
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        if(index == 3){
            if ($(".mall-dl").hasClass('animation')){
                $(".mall-dl").removeClass('animation');
            }else {
                $(".about-dl").removeClass('animation');
                $(".mall-dl").addClass('animation');
            }
            $(document).on("click",function () {
                $('.mall-dl').removeClass('animation');
            });
        }
        if(index == 4){
            if ($(".about-dl").hasClass('animation')){
                $(".about-dl").removeClass('animation');
            }else {
                $(".mall-dl").removeClass('animation');
                $(".about-dl").addClass('animation');
            }
            $(document).on("click",function () {
                $('.about-dl').removeClass('animation');
            });
        }
    },function () {
        $(this).removeClass('active').siblings().removeClass('active');
        setTimeout(function () {
            $('.about-dl').removeClass('animation');
            $('.mall-dl').removeClass('animation');
        });
    });
    $(".mall-dl").on('click',function (e) {
        e.stopPropagation()
    });
    $(".about-dl").on('click',function (e) {
        e.stopPropagation()
    })
</script>