<link rel="stylesheet" href="__CSS__/mobile/menu.css">
{include file="layout/head" /}
<div class="menu-box">
    <img src="__IMAGE__/menu/menu.png" alt="" class="menu-img">
</div>

<div class="menu-list">
    <a href="{:url('Index/index')}">
        <div class="menu-item active">
            <img src="__IMAGE__/menu/{empty name='isIndex'}home_2.png{else}home.png{/empty}" alt="" class="home-img" id="home-img-1">
            <p class="">主页</p>
        </div>
    </a>
    <a href="{:url('Customize/index')}">
        <div class="menu-item">
            <img src="__IMAGE__/menu/{empty name='isIndex'}private_2.png{else}private.png{/empty}" alt="" class="home-img" id="home-img-2">
            <p class="">私人订制</p>
        </div>
    </a>
    <a href="{:url('About/index')}">
        <div class="menu-item">
            <img src="__IMAGE__/menu/{empty name='isIndex'}about_2.png{else}about.png{/empty}" alt="" class="home-img" id="home-img-3">
            <p class="">关于我们</p>
        </div>
    </a>
</div>
<script>
    $(".menu-box").click('click',function (e) {
        e.stopPropagation();
        if($(".menu-list").css('display')== 'none'){
            $(".menu-list").fadeIn();
        }else {
            $(".menu-list").fadeOut();
        }
        $(document).on('click',function () {
            $(".menu-list").fadeOut();
        })
    });
    $(".menu-list").click(function (e) {
        e.stopPropagation();
    });
</script>