.about-content{
    margin: 60px auto 80px;
}
.brand-img{
    width: 267.5px;
    height: 360px;
}
.brand-desc{
    width: 680px;
    margin: 40px auto 0;
}
.desc-p{
    line-height: 35px;
    font-size: 16px;
}
.advantage-item{
    width: 200px;
}

