body{
    background-color: #eeeeee;
}
.common-weal-content{
    margin: 20px auto 60px;
}
.item-img{
    width: 364px;
    height: 240px;
}
.item-title{
    font-size: 28px;
}
.detail-span{
    width: 100%;
    font-size: 18px;
    text-align: right;
    margin-top: 40px;
    color: #e3435a;
}
.item-desc{
    padding: 10px 20px 20px 20px;
    text-align: left;
    min-width: 766px;
}
.item-content{
    line-height: 30px;
    text-align: justify;
}
.detail-span,.desc-span,.item-subtitle{
    font-size: 16px;
}
.page-box{
    margin-top: 60px;
}
.pre-p,.next-p{
    width: 40px;
    height: 40px;
    border: 1px solid #e3435a;
}
.page-icon{
    width: 15px;
    height: 15px;
    border-top: 1.5px solid #e3435a;
    border-right: 1.5px solid #e3435a;
    transform: rotate(-135deg);
}
.common-weal-item{
    margin-bottom: 20px;
}
.pre-p .page-icon{
    margin: 0 0 0 8px;
}
.next-p,.page-p span.active{
    background-color: #e3435a;
}
.next-p .page-icon{
    border-color: #fff;
    transform: rotate(45deg);
    margin: 0 8px 0 0;
}
.page-p{
    margin: 0 20px;
}
.page-p span{
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding-right: 2px;
}