body{
    background-color: #eeeeee;
}
.common-weal-head{
    width: 100%;
}
.common-weal-head{
    background-image: url("__IMAGE__/pc/common.jpg");
}
.common-weal-content{
    width: 1210px;
    margin: 20px auto 60px;
}
.common-weal-item,.page-box,.pre-p,.next-p{
    display: flex;
}
.common-weal-item:not(:last-of-type){
    margin-bottom: 20px;
}
.item-img{
    width: 390px;
    height: 257px;
}
.item-desc{
    padding: 10px 20px 20px 20px;
    text-align: left;
    background-color: #fff;
}
.desc-span,.item-title{
    font-weight: lighter;
}
.item-title{
    font-size: 36px;
}
.detail-span,.desc-span{
    font-size: 18px;
}
.desc-span{
    line-height: 30px;
}
.detail-span{
    color: #e3435a;
    margin-left: 20px;
}
.page-box{
    margin-top: 60px;
}
.page-box,.pre-p,.next-p{
    align-items: center;
    justify-content: center;
}
.pre-p,.next-p{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e3435a;
    cursor: pointer;
}
.page-icon{
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1.5px solid #e3435a;
    border-right: 1.5px solid #e3435a;
    transform: rotate(-135deg);
}
.pre-p .page-icon{
    margin: 0 0 0 8px;
}
.next-p,.page-p span.active{
    background-color: #e3435a;
}
.next-p .page-icon{
    border-color: #fff;
    transform: rotate(45deg);
    margin: 0 8px 0 0;
}
.page-p{
    margin: 0 20px;
}
.page-p span{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    text-align: center;
    padding-right: 2px;
}
.page-p span.active{
    color: #fff;
}