body{
    background-color: #f5f5f5;
}
.common-weal-content{
    margin: 20px auto 60px;
}
.item-img{
    width: 100%;
    height: 240px;
}
.item-title{
    font-size: 24px;
}
.item-desc{
    position: relative;
}
.detail-span{
    float: right;
    font-size: 18px;
    color: #e3435a;
}
.item-desc{
    padding: 20px;
    position: relative;
}
.detail-span,.desc-span,.item-subtitle{
    font-size: 16px;
}
.item-content{
    line-height: 30px;
    text-align: center;
    color: #999;
    font-size: 16px;
}
.common-weal-item{
    width: 1130px;
    margin: 30px auto 30px;
    flex-direction: column;
}
.page-box{
    margin-top: 60px;
}
