
.customize-content{
    margin: 80px auto 60px auto!important;
}
.customize-process-box{
    margin-left: -72px;
}
.customize-process-item{
    width: 230px;
}
.customize-process-item:not(:last-of-type){
    margin-right: 25px;
}
.process-img{
    width: 108px;
    height: 108px;
}
.process-img:first-child{
    margin-left: 54px;
}
.process-img:last-child{
    margin-right: 54px;
}
.consult-1-desc{
    padding-left: 35px;
}
.consult-2-desc{
    padding-left: 67px;
}
.customize-img-box{
    padding-left: 10px;
}
.point-icon{
    width: 5px;
    height: 5px;
    font-size: 50px;
    background-color: #999;
    margin-left: 10px;
}
.consult .point-icon:last-child{
    width: 10px;
    height: 10px;
}
.consult-1 .point-box:not(:last-of-type){
    margin-right: 10px;
}
.consult-1 .point-box:last-child .point-icon:last-child{
    width: 10px;
    height: 10px
}
.consult-2 .point-box{
    margin-left: 30px;
}
.consult-2 .point-box .point-icon:last-child{
    margin-right: 10px;
}
.provide-subtitle{
    margin: 40px 0;
}
.form-box{
    width: 370px;
}
.form-item:first-child input{
    width: 123px;
}
input::placeholder,textarea::placeholder{
    color: #999;
}
.form-input{
    border: 1px solid #8a8a8a;
    height: 30px;
    line-height: 30px;
    padding: 5px 0;
    text-indent: 10px;
    border-radius: 8px;
}
.textarea-input{
    resize: none;
    min-height: 80px;
}
.name-input{
    border-radius: 8px 0 0 8px;
    border-right: 0;
}
.site-input{
    border-radius: 0;
}
.day-input{
    border-left: 0;
    border-radius: 0 8px 8px 0;
}
.submit-btn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #e3435a;
    color: #fff;
    font-size: 18px;
    border: none;
    outline:none;
    opacity: 1;
}
.submit-btn:hover{
    opacity: .8;
    transition: all .3s;
}