body{
    color: #666;
    font-size: 18px;
}
body,.sort-box{
    background-color: #eeeeee;
}
em{
    font-style: normal;
}
.detail-content{
    width: 100%;

    padding: 40px 10px 40px 10px;
}
.result-list{
    width: 1170px;
    margin: 0 auto;
}
.select-box{
    border-bottom: 1px solid #ccc;
    height: 60px;
}
.select-btn-box{
    width: 94px;
    height: 35px;
    line-height: 35px;
    margin-left: 40px;
}
.close-p{
    right: -10px;
    top: -6px;
}
.close-icon{
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    z-index: 1;
}
.close-icon:after{
    content: '×';
    color: #999;
    margin: -9px 0 0 -6.5px;
}
.site-box,.sort-box{
    height: 60px;
}
.site-item.active{
    color: #e3435a;
}
.site-item,.sort-price-box{
    margin-left: 20px;
}
.sort-item{
    width: 100px;
    height: 100%;
    background-color: #eee;
}
.price-item .arrow-img,.sold-item .arrow-img{
    width:25%;
}
.comprehensive-box{
    width: 120px;
}
.arrow-img{
    width: 20%;
    transform: rotate(180deg);
    margin-left: 10px;
}
input::placeholder{
    color: #999;
}
.price-input{
    width: 70px;
    height: 30px;
    text-indent: 5px;
}
.page-box{
    margin-top: 20px;
}
.page-span{
    margin: 0 20px;
}
.result-item{
    width: 363px;
    height: 396px;
    transition: all .3s;
    display: inline-block;
    margin-right: 20px;
}
.result-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 29px rgba(0,0,0,.25);
}
.result-img{
    height: 263px;
}
.result-desc{
    padding: 10px;
}
.result-desc-footer{
    margin-top: 30px;
}
.result-desc-left{
    color: #f18a24;
}
.price-em{
    color: rgb(255,67,90);
}
.result-desc-right,.date-span,.sold-span{
    color: #999;
}
.button,.page-span{
    font-size: 20px;
}
.button{
    border: none;
    outline: none;
    width: 110px;
    height: 40px;
    line-height: 40px;
}
.pre-btn,.next-btn{
    color: #666;
    border: 1px solid #666;
    background: transparent;
    transition: all .3s;
}
.pre-btn:hover,.next-btn:hover{
    background-color: #666;
    color: #fff;
}
