body{
    color: #333!important;
    background-color: #eeeeee;
}
.price-span{
    font-size: 32px;
}
.desc-box,.submit-head-img{
    position: relative;
}
.price-p{
    align-items: baseline;
    padding-bottom: 10px;
}
.desc-head{
    padding: 0 0 0 20px;
}
.desc-head,.site-date-box{
    border-bottom: 1px solid #ccc;
}
.desc-box,.introduce-tab{
    background-color: #fff;
}
.site-date-box{
    font-size: 14px;
    padding: 10px 0 60px 20px;
}
.price-desc{
    margin-left: 10px;
}
.site-box,.date-p{
    margin-top: 10px;
}
.detail-subtitle,.site-name,.date-con{
    color: #999;
}
.site-name,.date-con,.desc-box,.introduce-content-box{
    margin-left: 20px;
}
.tag-box,.close-a{
    position: absolute;
}
.tag-box{
    right: 40px;
    top: 0;
}
.tag-img{
    width: 80px;
    height: 70px;
}
.tag-p,.close-a,.close-a:hover{
    color: #fff;
}
.tag-p{
    font-size: 18px;
    z-index: 10;
    margin: -58px 0 0 16px;
}
.introduce-img{
    width: 100%;
}
.detail-content-box{
    margin: 10px auto;
    padding: 40px 10px 10px 10px;
}
.detail-desc{
    margin: 20px 0 40px 0;
}
.detail-img{
    width: 582px;
    height: 348px;
}
.detail-subtitle,.detail-title,.introduce-con,.form-item{
    margin-top: 20px;
}
.detail-title{
    font-size: 24px;
}
.desc-box{
    padding: 20px 0 50px 0;
    border-top: 1px solid #ccc;
}
.price-p{
    margin-top: 60px;
}
.add-btn i{
    margin: 0 0 0 -2px;
}
.bespoke-btn{
    outline: none;
    width: 160px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    transition: all .3s;
}
.bespoke-btn:hover{
    opacity: .8;
}
.introduce-tab{
    width: calc(100% - 20px);
    padding: 10px 0 0 20px;
}
.introduce-item-span{
    color: #666;
    padding: 0 0 10px 0;
}
.bespoke-btn{
    margin: 50px 0 0 20px;
}
.introduce-item.active .introduce-item-span{
    font-weight: normal;
    border-bottom: 1.5px solid #e3435a;
}
.line-span{
    margin: 0 20px;
}
.line-span{
    width: 1px;
    height: 35px;
    border-left: 1px solid #ccc;
}
.introduce-con{
    min-height: 200px;
}
.mask{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 10;
}
.submit-box,.mask{
    position: fixed;
    display: none;
}
.submit-box{
    width: 800px;
    top: 40px;
    left: 23% ;
    background-color: #fff;
    z-index: 11;
    animation: showIn .8s ease forwards;
}
.submit-head-img{
    width: 100%;
    height: 204.5px!important;
}
.close-a{
    font-size: 30px;
    top: 10px;
    right: 20px;
    opacity: .8;
}
.close-a:hover{
    opacity: 1;
}
.form-title{
    font-size: 24px;
}
.form-title,.form-subtitle{
    margin-top: 10px;
}
.submit-form-box{
    width: 363.5px;
}
.form-subtitle{
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.form-item,.submit-footer{
    display: flex;
}
.submit-footer{
    align-items: center;
    justify-content: space-around;
}
.item-p{
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
}
.item-input,.item-textarea{
    height: 40px;
    width: 307.5px;
    display: inline-block;
    text-indent: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
}
.item-textarea{
    height: 98px;
    resize: none;
}
.submit-btn{
    cursor: pointer;
    width: 165.5px;
    height: 40px;
    line-height: 40px;
    transition: all .3s;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #e3435a;
    opacity: 1;
    margin-left: 54px;
}
.submit-btn:hover{
    opacity: .8;
}
.wechat-span{
    color: #e3435a;
}
.wechat-img{
    width: 220px;
    height: 220px;
}
.wechat-p{
    font-size: 14px;
}
@keyframes showIn {
    0%{
        opacity: .3;
        -ms-transform: scale(.5);
        transform: scale(.5);
    }
    50%{
        opacity: .8;
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}