body{
    background-color: #eeeeee;
}
.detail-content-box{
    margin: 10px auto;
    padding: 40px 10px 10px 10px;
}
.detail-desc{
    margin: 20px 0 30px 0;
}
.detail-img{
    width: 399px;
    height: 399px;
}
.detail-img,.desc-box{
    margin-left: 20px;
}
.detail-title{
    margin-left: 45px;
}
.introduce-content-box{
    padding-left: 20px;
}
.desc-box{
    padding: 20px 0 0 40px;
    border-top: 1px solid #ccc;
}
.price-p,.date-box{
    margin-top: 25px;
}
.date-right{
    margin-left: 100px;
}
.account-input,.date-input{
    height: 30px;
}
.date-input{
    width: 65px;
    text-indent: 5px;
}
.account-input{
    width: 80px;
}
.account-btn{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ccc;
}
.reduce-btn{
    margin: 5px 0 0 10px;
}
.add-btn{
    margin: 5px 10px 0 0;
}
.add-btn i{
    margin: 0 0 0 -2px;
}
.service-box,.service-list,.introduce-con{
    margin-top: 20px;
}
.service-item{
    width: 96px;
    height: 60px;
    flex-direction: column;
}
.service-item:not(:last-of-type){
    margin-right: 20px;
}
.date-left{
    align-items: center;
}
.type-p{
    margin-top: 8px;
}
.site-p{
    margin: 20px 0;
}
.connect-p{
    margin: 0 5px;
    color: #999;
}
.bespoke-btn{
    outline: none;
    width: 160px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    transition: all .3s;
}
.bespoke-btn:hover{
    opacity: .8;
}
.introduce-tab{
    width: calc(100% - 20px);
    padding: 10px 0 0 20px;
}
.introduce-item-span{
    color: #666;
    padding: 0 0 10px 0;
}
.service-list{
    display: flex;
}
.bespoke-btn{
    margin-top: 22px;
}
.account-box{
    margin-left: 10px;
}
.introduce-item.active .introduce-item-span{
    font-weight: normal;
    border-bottom: 1.5px solid #e3435a;
}

.line-span{
    margin: 0 20px;
}
.line-span{
    width: 1px;
    height: 35px;
    border-left: 1px solid #ccc;
}
.introduce-con{
    min-height: 200px;
}
.introduce-desc-title{
    color: rgb(63,169,245);
}
.introduce-dsec,.introduce-item-span{
    font-weight: lighter;
}