body{
    background-color: #eeeeee;
}
.detail-content-box{
    margin: 10px auto;
    padding: 40px 10px 10px 10px;
}
.detail-desc{
    margin: 20px 0 30px 0;
}
.detail-img{
    width: 399px;
    height: 399px;
    margin-left: 30px;
}
.desc-box{
    margin-left: 20px;
    padding: 20px 0 0 40px;
    border-top: 1px solid #ccc;
}
.price-p,.date-box{
    margin-top: 25px;
}
.account-input{
    height: 30px;
}
.account-input{
    width: 80px;
}
.account-btn{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ccc;
}
.reduce-btn{
    margin: 5px 0 0 10px;
}
.add-btn{
    margin: 5px 10px 0 0;
}
.add-btn i{
    margin: 0 0 0 -2px;
}
.bespoke-btn{
    outline: none;
    width: 160px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
}
.bespoke-btn:hover{
    transition: all .3s;
    opacity: .8;
}
.introduce-tab{
    width: calc(100% - 20px);
    padding: 10px 0 0 20px;
}
.introduce-item-span{
    color: #666;
    padding: 0 0 10px 0;
}
.bespoke-btn{
    margin-top: 40px;
}
.date-box{
    align-items: center;
}
.account-box{
    margin-left: 10px;
}
.detail-title{
    margin-left: -26px;
}
.introduce-item.active .introduce-item-span{
    font-weight: normal;
    border-bottom: 1.5px solid #e3435a;
}
.introduce-content-box{
    padding-left: 20px;
}
.line-span{
    margin: 0 20px;
}
.line-span{
    width: 1px;
    height: 35px;
    border-left: 1px solid #ccc;
}
.introduce-con{
    margin-top: 20px;
    min-height: 200px;
}
.introduce-desc-title{
    color: rgb(63,169,245);
}
.introduce-dsec,.introduce-item-span{
    font-weight: lighter;
}