body{
    background-color: #eeeeee;
}
.detail-content-box{
    margin: 10px auto;
    padding: 40px 10px 10px 10px;
}
.detail-desc{
    margin: 20px 0 30px 0;
}
.detail-img{
    width: 582px;
    height: 348px;
}
.desc-box{
    margin-left: 20px;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #ccc;
}
.price-p{
    align-items: center;
}
.price-span{
    font-size: 32px;
}
.price-p,.date-box,.sold-p,.introduce-con,.swiper-pagination{
    margin-top: 20px;
}
.account-input{
    height: 30px;
}
.account-input{
    width: 80px;
}
.account-btn{
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #ccc;
}
.reduce-btn{
    margin: 5px 0 0 10px;
}
.add-btn{
    margin: 5px 10px 0 0;
}
.add-btn i{
    margin: 0 0 0 -2px;
}
.bespoke-btn{
    outline: none;
    width: 160px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
}
.bespoke-btn:hover{
    transition: all .3s;
    opacity: .8;
}
.desc-box,.introduce-tab{
    background-color: #fff;
}
.introduce-tab{
    width: calc(100% - 20px);
    padding: 10px 0 0 20px;
}
.introduce-item-span{
    color: #666;
    padding: 0 0 10px 0;
}
.bespoke-btn{
    margin-top: 40px;
}
.date-box{
    align-items: center;
}
.account-box{
    margin-left: 10px;
}
.detail-title{
    font-size: 24px;
}
.introduce-item.active .introduce-item-span{
    font-weight: normal;
    border-bottom: 1.5px solid #e3435a;
}
.introduce-content-box{
    padding-left: 20px;
}
.line-span{
    margin: 0 20px;
}
.line-span{
    width: 1px;
    height: 35px;
    border-left: 1px solid #ccc;
}
.introduce-con{
    min-height: 200px;
}
.introduce-desc-title{
    color: rgb(63,169,245);
}
.introduce-dsec,.introduce-item-span{
    font-weight: lighter;
}
.desc-panel{
    background-color: #f5f5f5;
    padding: 10px 0 10px 8px;
}
.swiper-container{
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-pagination{
    z-index: 10;
    text-align: center;
    transition: .3s opacity linear;
    display: flex;
    justify-content: space-between;
}
.swiper-pagination-bullet{
    width: 178px;
    display: inline-block;
    opacity: .5;
}
.swiper-pagination-bullet-active {
    border: 2px solid #e3435a;
    opacity: 1;
}
.swiper-pagination-bullet img,.swiper-pagination-bullet{
    height: 123px;
}
.swiper-pagination-bullet img,.swiper-pagination{
    width: 100%;
}