.footer-box{
    width: 100%;
    background-color: #333;
    padding: 40px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content{
    width: 1130px;
    margin: 0 auto;
}
.footer-item{
    display: inline-block;
}
.footer-item:not(:last-of-type){
    margin-right: 80px;
}
.footer-item-title a,.footer-box,.footer-item-subcon a{
    color: #fff;
}
.footer-item-title{
    font-size: 24px;
    margin-bottom: 40px;
}
.footer-item-subcon,.footer-right-subtitle{
    font-size: 16px;
}
.footer-item-subcon,.footer-right-subtitle{
    font-weight: lighter;
}
.footer-item-subcon:not(:last-of-type){
    margin-bottom: 20px;
}
.footer-right{
    margin-left: 120px;
    text-align: center;
}
.footer-right-img{
    width: 120px;
    height: 120px;
}
.footer-right-subtitle{
    margin-top: 20px;

}