*{
    padding: 0;
    margin: 0;
}
body,.account-input,.date-input,.pre-btn,.text-em{
    color: #666;
}
ul,li{
    list-style: none;
}
a:hover,.about-dl dd a:hover{
    color: #333;
}
.header-box,.about-box,.common-weal-head,.customize-head,.customize-desc,.phone-input,.textarea-input,.detail-box,
.detail-head,.date-box,.desc-box,.detail-box,.result-img,.share-box,.desc-content-box,.commonweal-box,
.service-box,.customize-box,.service-bgm,.join-box,.welfare-box,.welfare-desc-box,.product-box,.product-item-img,
.tourist-box,.selected-img,.chartered-img,.more-box{
    width: 100%;
}
.header-box,.item-desc,.detail-content,.sort-item.active,.close-icon{
    background-color: #fff;
}
.header-content,.advantage-list,.brand-img-box,.customize-process-box,.form-item:first-child,.customize-img-box,.point-box,.date-box,
.account-box,.detail-desc,.introduce-item,.introduce-dsec,.introduce-tab,.site-box,.select-box,.site-list,.sort-box,.sort-item,
.result-desc-footer,.page-box,.desc-content-box,.share-content,.share-right,.travel-item-box,.commonweal-content,
.commonweal-item,.service-bgm,.service-item,.information-list,.information-item,.team-img-box,.welfare-desc-box,.recruit-tab,
.job-box,.job-desc,.require-p,.recruit-content,.price-p,.selected-desc-footer,.chartered-desc-footer,
.common-weal-item,.pre-p,.next-p,.date-left,.date-right,.swiper-slide,
.service-list{
    display: flex;
}
.header-box{
    padding: 20px 0;
}
.header-content,.brand-img-box,.form-item:first-child,.result-desc-footer,
.travel-item-box,.information-item,.team-img-box{
    justify-content: space-between;
}
.advantage-list,.swiper-slide{
    justify-content: space-around;
}
.page-box,.pre-p,.next-p,.customize-process-box,.sort-item,.page-box,.recruit-content,.welfare-desc-box,.desc-content-box{
    justify-content: center;
}
.header-content,.advantage-list,.brand-img-box,.page-box,.pre-p,.next-p,.point-box,.date-right,.site-box,
.select-box,.sort-box,.sort-item,.result-desc-footer,.welfare-desc-box,.team-img-box{
    align-items: center;
}
.introduce-dsec{
    flex-direction: column;
}
.tab-item,.select-btn-box,.close-icon,.welfare-desc-box,.swiper-slide-img-box{
    position: relative;
}
.introduce-box,.desc-box,.job-box,.tab-content,.form-item:last-child{
    text-align: left;
}
.mall-dl,.about-dl,.about-content,.page-p span,.customize-content,.submit-btn,.account-input,.account-btn,
.bespoke-btn,.detail-content-box,.service-item,.select-btn-box,.desc-left-top,.button,.share-top,
.commonweal-box,.customize-box,.travel-item-outer,.welfare-box,.welfare-desc-box,.recruit-box,
.join-content,.recruit-item,.product-content,.swiper-slide-img-box,.more-box,.more-btn,.wechat-box{
    text-align: center;
}
.header-content,.about-content,.common-weal-content,.customize-content,.detail-content-box,.content-body,
.recruit-box,.join-content{
    width: 1130px;
}
.header-content,.form-box,.content-body,.commonweal-content,.share-box,.commonweal-box,.customize-content{
    margin: 0 auto;
}
.desc-content-box,.join-content,.tourist-content{
    margin: 60px auto;
}
.recruit-box{
    margin: 40px auto;
}
.tab-item,.pre-p,.next-p,.submit-btn,.bespoke-btn,.account-btn,.introduce-item,.service-item,
.close-icon,.site-item,.sort-item,.result-item,.button,.recruit-item,.travel-item,.tab-p,.video-btn-box,
.more-btn,.selected-item,.chartered-item{
    cursor: pointer;
}
.tab-item.active .tab-item-a,.price-span,.service-item.active{
    color: #e3435a;
}
.tab-item-a.active {
    color: #e3435a;
}
.service-item.active{
    border: 1px solid #e3435a;
}
.introduce-dsec,.item-desc-p{
    margin-top: 10px;
}
.advantage-desc,.advantage-subtitle{
    margin-top: 20px;
}
.customize-desc,.customize-desc-p{
    margin-top: 40px;
}
.advantage-desc,.customize-desc-p{
    line-height: 25px;
}
.introduce-dsec,.account-input,.date-input,.result-desc-top,.item-desc-p{
    line-height: 30px;
}
.advantage-desc,.customize-desc-p,.form-input,.service-item p,.site-p,.job-span,.result-desc-top{
    font-size: 14px;
}
.dd-a,.tab-item,.provide-subtitle,.account-btn,.introduce-desc-box,.item-desc-p,.result-desc-footer{
    font-size: 16px;
}
.desc-box,.introduce-tab,.price-em,.item-desc-title{
    font-size: 18px;
}
.advantage-subtitle,.customize-desc-title,.travel-item-title{
    font-size: 24px;
}
.commonweal-desc-title{
    font-size: 28px;
}
.content-title,.advantage-title,.provide-title,.commonweal-title,.desc-title,.share-title,
.service-title,.customize-title, .content-title,.welfare-title,.recruit-title,.product-title{
    font-size: 32px;
}
.tab-item:not(:last-of-type){
    margin-right: 40px;
}
.introduce-dsec{
    margin-top: 10px;
}
.job-span{
    margin-top: 20px;
}
.advantage-box{
    margin-top: 60px;
}
.brand-img-box,.provide-box,.welfare-box,.team-img-box,.welfare-desc-box,.recruit-content,.require-p{
    margin-top: 40px;
}
.common-weal-content a .common-weal-item:not(:last-of-type),.form-item,.result-item{
    margin-bottom: 20px;
}
.advantage-title{
    margin-bottom: 40px;
}
.desc-p,.desc-span,.item-title,.provide-subtitle,.customize-desc-p,.item-desc-p,.introduce-item-span{
    font-weight: lighter;
}
.header-img{
    width: 12%;
}
.tab-item,.advantage-item,.page-p span,.point-icon,.account-btn{
    display: inline-block;
}
.mall-dl,.about-dl,.hideCon{
    display: none;
}
.mall-dl,.about-dl,.triangle,.close-p,.close-icon:after,.swiper-slide-p{
    position: absolute;
}
.mall-dl,.about-dl,.bespoke-btn,.recruit-item.active{
    background-color: #e3435a;
}
.pre-p,.next-p,.page-p span,.point-icon,.account-btn,.close-icon{
    border-radius: 50%;
}
.page-icon,.triangle,.showCon,.close-icon{
    display: block;
}
.account-input,.bespoke-btn{
    border: none;
}
.account-box,.introduce-tab,.date-input,.service-item,.price-input,.sort-box,.select-btn-box{
    border: 1px solid #ccc;
}
.mall-dl .dd-a:hover,.about-dl .dd-a:hover,.dd-a,.mall-dl,.page-p span.active,.bespoke-btn,.account-btn{
    color: #fff;
}
.about-dl dd,.mall-dl dd{
    padding: 10px 0;
}
.advantage-img,.desc-img{
    width: 100px;
    height: 100px;
}
.product-content .page-span,.result-box .page-span{
    margin: 0 40px;
}
.product-content .pre-btn, .product-content .next-btn,.result-box .pre-btn, .result-box .next-btn{
    color: #666;
    border: 1px solid #666;
    background: transparent;
    transition: all .3s;
}
.product-content .next-btn:hover,.product-content .pre-btn:hover,.result-box .next-btn:hover,.result-box .pre-btn:hover{
    color: #fff;
    background-color: #666;
}
.triangle{
    top: -40px;
    left: 45px;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #e3435a;
}
.mall-dl,.about-dl{
    opacity: 0;
    right: -30px;
    top: 45px;
    width: 120px;
    line-height: 36px;
    border-radius: 10px;
    z-index: 100;
}
.animation{
    display: block;
    animation: rise 2s cubic-bezier(0.19, 1, 0.22, 1) .15s forwards;
}
@keyframes rise{
    0% {opacity: .3;transform: translate3d(0,30%,0);}
    50% {opacity: 1;}
    100% {opacity: 1;transform: translate3d(0,0,0);}
}
.allhead-img{
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}