
.team-img{
    width: 267.5px;
    height: 158.5px;
}
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);
}
.desc-item{
    width: 200px;
    display: inline-block;
    z-index: 1;
}
.desc-item:not(:last-of-type){
    margin-right: 150px;
}
.desc-subtitle,.desc-p,.recruit-item{
    color: #fff;
}
.desc-subtitle{
    font-size: 24px;
    margin: 20px 0;
}
.desc-p{
    font-size: 14px;
    line-height: 25px;
}
.recruit-item,.job-title,.require-span{
    font-size: 16px;
}
.job-title,.require-span{
    color: #e3435a;
}
.recruit-tab,.job-box,.job-desc,.require-p{
    flex-direction: column;
}
.recruit-item{
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: #666;
}
.recruit-item:not(:last-of-type){
    margin-bottom: 10px;
}
.tab-con-box{
    margin-left: 40px;
}
.tab-content{
    min-width: 370px;
    min-height: 245px;
}
.hideCon{
    display: none;
    opacity: 0;
}
.showCon{
    display: block;
    animation: rise 2s cubic-bezier(0.19, 1, 0.22, 1) .15s forwards;
}
@keyframes rise{
    0% {opacity: .3;transform: translate3d(0,100%,0);}
    50% {opacity: 1;}
    100% {opacity: 1;transform: translate3d(0,0,0);}
}