.product-content{
    margin: 60px auto;
}
.price-p{
    justify-content: space-between;
}
.product-list{
    flex-wrap: wrap;
    margin: 40px 0;
}
.button,.product-item{
    cursor: pointer;
}
.product-item{
    width: 287.5px;
    height: 372.5px;
    box-shadow: 8px 8px 20px rgba(0,0,0,.15);
    margin-bottom: 20px;
}
.product-item-img{
    height: 195px;
}
.item-desc{
    padding: 10px;
}
.item-desc-p{
    text-align: justify;
}
.page-box,.price-p{
    align-items: center;
}
.price-p{
    margin-top: 10px;
}
.price-span{
    color: rgb(255,67,90);
}
.button,.page-span{
    font-size: 18px;
}
.button{
    border: none;
    outline: none;
    width: 110px;
    height: 40px;
    line-height: 40px;
}
.page-span{
    margin: 0 40px;
}
.pre-btn{
    border: 1px solid #666;
    background: transparent;
}
.next-btn{
    color: #fff;
    background-color: #666;
}