body{
    font-size: 14px;
    background-color: #f5f5f5;
}
.selected-desc-footer,.chartered-desc-footer,.selected-list,.chartered-list{
    justify-content: space-between;
}
.selected-list,.chartered-list{
    margin-top: 40px;
    flex-wrap: wrap;
}
.selected-item,.chartered-item{
    width: 363px;
    height: 384px;
    margin-bottom: 20px;
    transition: all .3s;
}
.selected-item:hover,.chartered-item:hover{
    margin-top: -10px;
    box-shadow: 0 0 29px rgba(0,0,0,.25);
}
.selected-item:hover .selected-desc{

}
.selected-img,.chartered-img{
    height: 263px;
}
.selected-p,.recommend-title,.chartered-title{
    font-size: 32px;
}
.selected-desc,.chartered-desc{
    background-color: #fff;
    padding: 10px;
}
.selected-desc-left,.chartered-desc-left{
    color: #f18a24;
}
.selected-desc-footer,.text-em{
    font-size: 16px;
}
.selected-desc-footer,.chartered-desc-footer,.swiper-container{
    margin-top: 40px;
}
.selected-desc-footer,.chartered-desc-footer{
    align-items: center;
}
.selected-desc-right,.date-span,.sold-span,.chartered-desc-right{
    color: #999;
}
.price-em{
    font-size: 18px;
    color: rgb(255,67,90);
}
.price-span em{
    font-style: normal;
}
.more-btn{
    border: 1px solid #e3435a;
    outline: none;
    background: transparent;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0 ;
    color: #e3435a;
    border-radius: 10px;
    transition: all .5s;
}
.more-btn:hover{
    color: #fff;
    background-color: #e3435a;
}
.recommend-box,.chartered-box{
    margin-top: 60px;
}
.swiper-container{
    width: 100%;
}
.swiper-slide-img-box{
    width: 350px;
    height: 220px;
}
.swiper-slide-img{
    width: 100%;
    height: 100%;
}
.swiper-slide-p{
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    color: #fff;
    padding: 0 40px;
    line-height: 30px;
}
.swiper-button-prev,.swiper-button-next{
    top: calc(50% - 10px);
    width: 56px;
    height: 56px;
    background-color: #e3435a;
    border-radius: 50%;
    background-size: 30%;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}